@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

*,
*::before
*::after {
   box-sizing: border-box;
} 

.Lalezar{
    font-family: "Lalezar", sans-serif;
}

.dark-mode {
    background-color: #000000;
    color: rgba(36, 176, 195, 100%);
}

body {
    font-family: "Jua", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

header .navbar {
    background-color: rgba(36, 176, 195, 100%);
    width: 100%;
    max-width: 2000px;
    padding-block: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    position: fixed;
    top: 0;
    height: 30px;
    color: white;
}

header .navbar .nav-list ul {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    gap: 3rem 1rem;
}

header .navbar .nav-list li {
    position: relative;
    list-style-type: none;
}

header .navbar .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: white;
    transition: all 0.1s ease-in-out;
}

header .navbar .nav-list li:hover a {
    background-color: white;
    color: rgba(36, 176, 195, 100%); 
}

#home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.greet-p {
    font-size: 20px;
    color: white;
    display: flex;
    background-color: rgba(36, 176, 195, 100%);
    width: 350px;
    height: 150px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-align: justify;
    text-justify: inter-word;
}

.title-img{
    padding-top: 50px;
    padding-left: 250px;
}

.greet-head{
    font-size: 30px;
    width: 250px;
    padding-left: 15px;
    color: rgba(36, 176, 195, 100%);
}

#gallery{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.gallerytext{
    color: white;
    width: 100vw;
    background-color: rgba(36, 176, 195, 100%);
    text-align: center;
}

.img-container{
    display: flex;
    flex-direction: column;
}

.img-child{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.img-child-center{
    display: flex;
    justify-content: center;
}

.img-container img{
    border-radius: 25px;
    border: 12px solid #22CFE7;
}

#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blogtext{
    text-align: center;
    color: white;
    background-color: rgba(36, 176, 195, 100%);
    width: 100vw;
}

.blog-break{
    height: 35px;
}

.blog-container{
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    background-color: #24B0C3;
    gap: 35px;
}

.blog-container article{
    background-color: #47ADA0;
    border-radius: 20px;
    height: auto;
    width: 250px;
    padding: 25px;
    color: white;
}

.blog-container article a{
    text-decoration: none;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #24B0C3;
}

#contact h1{
    font-size: 60px;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.contact-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-child a{
    text-decoration: none;
    color: #24B0C3;
}

.contact-child i{
    font-size: 50px;
}

@media screen and (max-width: 600px) {
    header .navbar {
        width: 100vw;
        justify-content: center;
        align-content: center;
    }

    header .navbar h1 {
        display: none;
    }

    header .navbar.nav-list ul {
        padding-right: 25px;
    }

    header .navbar .nav-list li a {
        padding: 12px;
    }

    /* Home */
    #home{
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .title-img{
        display: none;
    }

    .greet-head{
        padding-top: 80px;
    }

    /* Gallery */
    #gallery{
        height: auto;
    }

    .img-child img{
        width: 165px;
    }

    /* Blog */
    #blog{
        height: auto;
    }

    .blog-container{
        flex-flow: column;
        height: auto;
        padding: 25px;
        width: 90vw;
    }

    /* Contact */
    #contact { 
        padding-bottom: 250px;
    }
}